<div role="navigation" class="navbar navbar-light-q">
	<div class="inner">
		<ul class="linklist bulletin">
			<!-- EVENT navbar_header_quick_links_before -->
			<!-- IF S_DISPLAY_SEARCH -->
				<!-- IF S_REGISTERED_USER -->
					<li class="small-icon icon-search-self"><a href="{U_SEARCH_SELF}" role="menuitem">{L_SEARCH_SELF}</a></li>
				<!-- ENDIF -->
				<!-- IF S_USER_LOGGED_IN -->
					<li class="small-icon icon-search-new"><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a></li>
				<!-- ENDIF -->
				<!-- IF S_LOAD_UNREADS --> 
					<li class="small-icon icon-search-unread"><a href="{U_SEARCH_UNREAD}" role="menuitem">{L_SEARCH_UNREAD}</a></li>
				<!-- ENDIF -->
				<li class="small-icon icon-search-unanswered"><a href="{U_SEARCH_UNANSWERED}" role="menuitem">{L_SEARCH_UNANSWERED}</a></li>
				<li class="small-icon icon-search-active"><a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">{L_SEARCH_ACTIVE_TOPICS}</a></li>
				<li class="small-icon icon-search"><a href="{U_SEARCH}" role="menuitem">{L_SEARCH}</a></li>
			<!-- ENDIF -->
			<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
				<!-- IF S_DISPLAY_MEMBERLIST --><li class="small-icon icon-members"><a href="{U_MEMBERLIST}" role="menuitem">{L_MEMBERLIST}</a></li><!-- ENDIF -->
				<!-- IF U_TEAM --><li class="small-icon icon-team"><a href="{U_TEAM}" role="menuitem">{L_THE_TEAM}</a></li><!-- ENDIF -->
			<!-- ENDIF -->
			<!-- EVENT navbar_header_quick_links_after -->
		</ul>
	</div>
</div>

